# Exchange rates Data

In [3]:
import pandas as pd
import numpy as np


df = pd.read_csv('DEXJPUS.csv', names=["dates", "rates"])

In [2]:
#replacing missing data with NaN

df = df.replace('.', np.nan)

#change from str to numerical
df['rates'] = pd.to_numeric(df['rates'], errors='coerce')

## Filling Missing data

In [3]:
mean_value = df['rates'].mean()

# Fill in the missing value with the mean value
df['rates'].fillna(mean_value, inplace=True)

#round
df['rates'] = df['rates'].round(1)




# Verify that there are no more missing values
print(df.isnull().sum())

#change back to string
df['rates'] = df['rates'].astype(str)

df.to_csv('DEXJPUS.csv', index=False)

print(df.head(50))

dates    0
rates    0
dtype: int64
         dates  rates
0        dates  110.5
1        dates  110.5
2        dates  110.5
3         DATE  110.5
4   1990-01-02  146.2
5   1990-01-03  145.7
6   1990-01-04  143.4
7   1990-01-05  143.8
8   1990-01-08  144.1
9   1990-01-09  145.2
10  1990-01-10  145.2
11  1990-01-11  145.4
12  1990-01-12  145.4
13  1990-01-15  110.5
14  1990-01-16  145.5
15  1990-01-17  145.5
16  1990-01-18  146.1
17  1990-01-19  145.6
18  1990-01-22  146.4
19  1990-01-23  146.1
20  1990-01-24  145.3
21  1990-01-25  144.4
22  1990-01-26  143.4
23  1990-01-29  143.1
24  1990-01-30  144.1
25  1990-01-31  144.6
26  1990-02-01  144.9
27  1990-02-02  145.4
28  1990-02-05  145.4
29  1990-02-06  145.1
30  1990-02-07  145.5
31  1990-02-08  145.4
32  1990-02-09  145.2
33  1990-02-12  144.2
34  1990-02-13  144.4
35  1990-02-14  144.3
36  1990-02-15  144.4
37  1990-02-16  144.2
38  1990-02-19  110.5
39  1990-02-20  145.4
40  1990-02-21  145.3
41  1990-02-22  145.9
42  1990-02-23  146.9
43  1990-02-26  148.8
44  1990-02-27  148.6
45  1990-02-28  148.8
46  1990-03-01  149.7
47  1990-03-02  150.3
48  1990-03-05  149.8
49  1990-03-06  149.8

# GDP Cleaning data

In [5]:
df2 = pd.read_csv('GDP.csv', names=["DATE", "GDP"])
# data looks good each year has 4th quater each year

          DATE      GDP
0         DATE      GDP
1   1947-01-01  243.164
2   1947-04-01  245.968
3   1947-07-01  249.585
4   1947-10-01  259.745
5   1948-01-01  265.742
6   1948-04-01  272.567
7   1948-07-01  279.196
8   1948-10-01  280.366
9   1949-01-01  275.034
10  1949-04-01  271.351
11  1949-07-01  272.889
12  1949-10-01  270.627
13  1950-01-01  280.828
14  1950-04-01  290.383
15  1950-07-01  308.153
16  1950-10-01  319.945
17  1951-01-01    336.0
18  1951-04-01   344.09
19  1951-07-01  351.385
20  1951-10-01  356.178
21  1952-01-01   359.82
22  1952-04-01   361.03
23  1952-07-01  367.701
24  1952-10-01  380.812
25  1953-01-01   387.98
26  1953-04-01  391.749
27  1953-07-01  391.171
28  1953-10-01   385.97
29  1954-01-01  385.345
30  1954-04-01  386.121
31  1954-07-01  390.996
32  1954-10-01  399.734
33  1955-01-01  413.073
34  1955-04-01  421.532
35  1955-07-01  430.221
36  1955-10-01  437.092
37  1956-01-01  439.746
38  1956-04-01   446.01
39  1956-07-01  451.191
40  1956-10-01  460.463
41  1957-01-01  469.779
42  1957-04-01  472.025
43  1957-07-01   479.49
44  1957-10-01  474.864
45  1958-01-01   467.54
46  1958-04-01  471.978
47  1958-07-01  485.841
48  1958-10-01  499.555
49  1959-01-01   510.33

# JP GDP data

In [11]:
df3 = pd.read_csv('JP_GDP.csv', names= ['DATE', 'RATE'])
print(df3.head(30))

          DATE       RATE
0         DATE       RATE
1   1994-01-01   446276.5
2   1994-04-01   443822.8
3   1994-07-01   448928.5
4   1994-10-01   447124.9
5   1995-01-01   452096.3
6   1995-04-01   456350.0
7   1995-07-01   461698.4
8   1995-10-01   462803.1
9   1996-01-01   466601.9
10  1996-04-01   472555.5
11  1996-07-01   473152.5
12  1996-10-01   478409.5
13  1997-01-01   479667.6
14  1997-04-01  476077.60
15  1997-07-01   477003.8
16  1997-10-01   477155.3
17  1998-01-01   471380.4
18  1998-04-01   469303.7
19  1998-07-01   470143.7
20  1998-10-01   473904.2
21  1999-01-01   467403.5
22  1999-04-01  469175.40
23  1999-07-01  471675.10
24  1999-10-01  471841.20
25  2000-01-01   479861.0
26  2000-04-01   482127.1
27  2000-07-01   482244.3
28  2000-10-01   486944.5
29  2001-01-01   490543.8

# Federal Funds (interest rate) data|

In [18]:
import pandas as pd

df4 = pd.read_csv('FEDFUNDS.csv',skiprows=1, names=['DATE', 'FEDFUNDS'])

df4['DATE'] = pd.to_datetime(df4['DATE'])

# Group the data by year and month and count the number of unique months for each year
counts = df4.groupby([df4['DATE'].dt.year])['DATE'].nunique()

missing_years = counts[counts != 12].index

# Print the missing years
if len(missing_years) == 0:
    print("All years have all 12 months.")
else:
    print("The following years are missing some months:")
    print(missing_years) #It should display missing because I want 1990 1/1 to 2023 1/1

The following years are missing some months:
Int64Index([2023], dtype='int64', name='DATE')